extends layout


block content
  h1 Homepage
  if (!user)
    a(href="/login") Login
    a(href="/register") Register
  if (user)
    p You are currently logged in as #{user.username}
    a(href="/logout") Logout